body {
    padding-top: 65px;
    z-index: 1
}

nav {
    height: 65px;
    position: fixed !important;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    padding-top: 5px;
    z-index: 999;
}

.nav-up {
    top: -65px;
}

.primary-color {
    color: #00ab6b!important;
}

.primary-bg-color {
    background-color: #00ab6b!important;
}

.bg-color {
    background-color: white!important;
}

.nav-link {
    font-weight: 600;
    font-size: 17px;
    color: #00ab6b!important;
}

.blog-heading {
    --x-height-multiplier: 0.363;
    --baseline-multiplier: 0.157;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: -2.5px;
    line-height: 1.04;
    letter-spacing: -.028em;
    color: rgba(0, 0, 0, .8);
}

h4 {
    margin-top: 39px;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin-left: -1.5px;
    line-height: 1.22;
    letter-spacing: -.018em;
}

pre {
    margin-top: 43px;
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    font-size: 16px;
    background: rgba(0, 0, 0, .05);
    padding: 20px;
    white-space: pre-wrap;
    overflow: auto;
    word-wrap: break-word;
    padding-bottom: 0px;
    padding-top: 20px;
    border: none;
}

.quotes {
    background-color: transparent;
    transition: .2s background-color;
    cursor: pointer;
    font-family: medium-content-slab-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    margin-left: -1.75px;
    line-height: 1.48;
    letter-spacing: -.014em;
    text-align: center;
}

.quotes:hover {
    background-color: transparent;
    background-color: rgba(238, 238, 238, 0.68);
}

body, p {
    --x-height-multiplier: 0.35;
    --baseline-multiplier: 0.179;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}

h2 {
    margin-top: 5px;
    margin-bottom: 22px;
    --x-height-multiplier: 0.363;
    --baseline-multiplier: 0.157;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    letter-spacing: -.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 27px;
    margin-left: -1.69px;
    line-height: 1.22;
    letter-spacing: -.022em;
    color: rgba(0, 0, 0, .44);
}

.img-main {
    height: 400px;
}

img {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.share:hover {
    color: #00ab6b!important;
}

.share {
    padding: 20px;
    color: black;
}

.share-group {
    background-color: rgba(238, 238, 238, 0.54);
    cursor: pointer;
}

.author {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.name {
    padding: 12px;
}

.desc {
    font-size: 18px;
    line-height: 0.2;
}

hr {
    width: 80%;
}

.round-btn {
    border-radius: 36px;
    border-color: #00AB6B;
    background-color: white;
    color: #00AB6B;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.bottom {
    background-color: #fafafa!important;
}

.related {
    background-color: white;
    padding: 0px;
    box-shadow: 0px 0px 8px #888888;
    border: 0.2px solid rgba(221, 221, 221, 0.14);
    margin-right: 25px;
}

.related .title {
    font-size: 24px;
    font-weight: 600;
}

.related .desc {
    font-size: 22px;
    line-height: 1
}

.related img {
    width: 100%;
}

.related-group {
    margin-top: 25px;
    margin-bottom: 35px;
}

.recent {
    padding-left: 30px;
    padding-right: 30px;
    color: #9d9d9d;
    cursor: pointer;
}

.recent:hover {
    background-color: rgba(238, 238, 238, 0.53);
    color: black;
}

.recent-item {
    font-size: 19px;
    font-weight: 500;
}

.recent-hr {
    margin: 0px;
    width: 100%;
}

.recent-title {
    text-align: left;
    padding-left: 20px;
}

.tags {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 35px;
    padding-right: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.tag {
    color: #9d9d9d;
    font-size: 19px;
    font-weight: 500;
    background: rgba(238, 238, 238, 0.68);
    display: inline-block;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 2px;
    cursor: pointer;
}

.tag:hover {
    background-color: #EAFEF0;
    color: black;
}

#subscription {
    padding: 5px;
    margin-left: 25px;
    border-color: rgba(157, 157, 157, 0.7);
    height: 44px;
}

input[type="text"]:focus {
    border-color: rgba(157, 157, 157, 0.7);
    box-shadow: 0 1px 1px rgba(157, 157, 157, 0.7) inset, 0 0 8px rgba(157, 157, 157, 0.7);
    outline: 0 none;
}

#submit {
    margin-left: -5px;
    margin-top: -2px;
    width: 120px;
    height: 44px;
    border-radius: 0px;
    border-color: rgba(157, 157, 157, 0.7);
    background-color: white;
}

#submit:hover {
    background-color: rgb(243, 243, 243);
}
