<hr>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    © 2017, {{ site.data.global.title }}, All rights reserved
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                    <a href="#"> {{ site.admin_name }} </a>  <a target="_blank" href="https://github.com/lavkumarv">Design & Develop by Lav Vishwakarma</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ALl js file links -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{site.url}}/js/bootstrap.min.js"></script>
<script src="{{site.url}}/js/custom.js"></script>
<script src="{{site.url}}/js/lunr.min.js"></script>
<script src="{{site.url}}/js/search.js"></script>
</body>

</html>
