<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} ♥ {{ site.data.global.title }}{% elsif post.title %}{{ post.title }} ♥ {{ site.data.global.title }}{% else %}{{ site.data.global.title }} ♥ {{ site.data.global.description }}{% endif %}</title>
    <meta name="description" content="{{ page.lead_text }}" />


    <!-- Update your html tag to include the itemscope and itemtype attributes. -->
    <html itemscope itemtype="http://schema.org/Product">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.lead_text }}"> {% if page.image %}
    <meta itemprop="image" content="{{ page.url }}{{ page.image }}"> {% else %}
    <meta content="{{ site.url }}/images/default.jpg" property="og:image"> {% endif %}


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.lead_text }}">
    <meta name="twitter:creator" content="{{ site.data.global.author_name }}"> {% if page.image %}
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}"> {% else %}
    <meta name="twitter:image" content="{{ site.url }}/images/default.jpg"> {% endif %}


    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" /> {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}" /> {% else %}
    <meta property="og:image" content="{{ site.url }}/images/default.jpg" /> {% endif %}
    <meta property="og:description" content="{{ page.lead_text }}" />
    <meta property="og:site_name" content="{{site.data.global.title}}" /> {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url"> {% endif %} {% if page.categories %} {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section"> {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag"> {% endfor %} {% endif %}

    <!-- Bootstrap -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/css/custom.css" rel="stylesheet">

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default nav-down bg-color">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand nav-link" href="/">{{ site.data.global.title }}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% for item in site.data.nav.main %}
                    <li><a href="{{ item.url }}">{{ item.text }}</a></li>
                    {% endfor %}
                    <li>
                        <div class="col-sm-3 col-md-3" id="search-div">
                            <form class="navbar-form" role="search" action="get" id="site_search">
                                <div class="input-group">
                                    <input type="text" id="search_box" class="form-control" placeholder="Search" name="q">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="search-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                            <ul id="search_results"></ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
