<div class="col-lg-12">
    <h4 class="recent-title"> Most recent post</h4>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> This is a recennt heading of the blog and and somethiing in heading </span>
    </div>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> This is a recennt heading of the blog and and somethiing in heading </span>
    </div>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> This is a recennt heading of the blog and  and somethiing in heading </span>
    </div>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> This is a recennt heading of the blog and and somethiing in heading </span>
    </div>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> This is a recennt heading of the blog and and somethiing in heading </span>
    </div>
    <hr class="recent-hr">
</div>

<div class="col-lg-12">
    <h4 class="recent-title"> Category</h4>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> Programming </span>
    </div>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> Security</span>
    </div>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> LifeStyle</span>
    </div>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> Random </span>
    </div>
    <hr class="recent-hr">
    <div class="recent">
        <span class="recent-item"> New skills </span>
    </div>
    <hr class="recent-hr">
</div>

<div class="col-lg-12">
    <h4 class="recent-title"> Tags</h4>
    <div class="tags">
        <span class="tag">Random</span>
        <span class="tag">Security</span>
        <span class="tag">Programming</span>
        <span class="tag">Nodejs</span>
        <span class="tag">Security</span>
        <span class="tag">Programming</span>
        <span class="tag">JAVA</span>
        <span class="tag">RUBY</span>
        <span class="tag">Programming</span>
        <span class="tag">Random</span>
        <span class="tag">Security</span>
    </div>
</div>

<div class="col-lg-12">
    <h4 class="recent-title">Never miss a post !</h4>
    <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" id="search" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><b>Subscribe</b></button>
            </div>
        </div>
    </form>
</div>
