{% include header.html %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-1">

              <p id="error" class="primary-color text-center">404</p>
              <h1 class="text-center">We are sorry</h1>
              <h4 class="text-center">The page you are looking or does not exists :(</h4>

            </div>
            <div class="col-lg-4">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
