{% include header.html %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-1">

              {% if page.featured_image or page.featured_video_id %}
                <a href="{{ page.url | prepend: site.baseurl }}" class="image-anchor">
                    {% if page.featured_image %}
                    <img class="img-main" src="{{ page.featured_image }}" height="400">
                    {% endif %}

                    {% if page.featured_video_id %}
                    <iframe class="img-main" src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" width="100%" height="400" allowfullscreen></iframe>
                    {% endif %}
                </a>
                {% endif %}
                <h1 class="blog-heading">{{ page.title }}</h1>
                <p class="time"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ page.date | date: "%d %B %Y" }}</p>

                {{ content }}

            </div>
            <div class="col-lg-4">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h2 class="share-group">
                  <i class="fa fa-facebook share" aria-hidden="true"></i>
                  <i class="fa fa-twitter share" aria-hidden="true"></i>
                  <i class="fa fa-linkedin share" aria-hidden="true"></i>
                  <i class="fa fa-instagram share" aria-hidden="true"></i>
                  <i class="fa fa-pinterest-p share" aria-hidden="true"></i>
                  <i class="fa fa-google-plus share" aria-hidden="true"></i>
                </h2>
            </div>
        </div>
    </div>
</section>
<hr>
<div class="page">
    <div class="col-lg-10 col-lg-offset-1">
      {% if page.previous.url %}
      <a href="{{page.previous.url}}"><span class="btn round-btn pull-left">&larr; {{page.previous.title}}</span></a>
      {% endif %}
      {% if page.next.url %}
      <a href="{{page.next.url}}"><span class="btn round-btn pull-right">{{page.next.title}} &raquo;</span></a>
      {% endif %}
    </div>
</div>
<hr> {% include footer.html %}
