{% include header.html %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-1">
                <div>
                    <img class="img-main" src="http://localhost:4000/images/mac.jpg" height="400">
                    <h1 class="blog-heading hover">Hide header on scroll down, show on scroll up</h1>
                    <span class="time"> <i class="fa fa-clock-o" aria-hidden="true"></i> Tue 23 August 2017</span>
                    <span class="btn round-btn pull-right read">Read &rarr;</span>
                    <hr>
                </div>
                <div>
                    <img class="img-main" src="http://localhost:4000/images/mac.jpg" height="400">
                    <h1 class="blog-heading hover">Hide header on scroll down, show on scroll up</h1>
                    <span class="time"> <i class="fa fa-clock-o" aria-hidden="true"></i> Tue 23 August 2017</span>
                    <span class="btn round-btn pull-right read">Read &rarr;</span>
                    <hr>
                </div>
                <div>
                    <img class="img-main" src="http://localhost:4000/images/mac.jpg" height="400">
                    <h1 class="blog-heading hover">Hide header on scroll down, show on scroll up</h1>
                    <span class="time"> <i class="fa fa-clock-o" aria-hidden="true"></i> Tue 23 August 2017</span>
                    <span class="btn round-btn pull-right read">Read &rarr;</span>
                    <hr>
                </div>
                <div>
                    <img class="img-main" src="http://localhost:4000/images/mac.jpg" height="400">
                    <h1 class="blog-heading hover">Hide header on scroll down, show on scroll up</h1>
                    <span class="time"> <i class="fa fa-clock-o" aria-hidden="true"></i> Tue 23 August 2017</span>
                    <span class="btn round-btn pull-right read">Read &rarr;</span>
                    <hr>
                </div>
                <div>
                    <img class="img-main" src="http://localhost:4000/images/mac.jpg" height="400">
                    <h1 class="blog-heading hover">Hide header on scroll down, show on scroll up</h1>
                    <span class="time"> <i class="fa fa-clock-o" aria-hidden="true"></i> Tue 23 August 2017</span>
                    <span class="btn round-btn pull-right read">Read &rarr;</span>
                    <hr>
                </div>
                {% include pagination.html %}
            </div>
            <div class="col-lg-4">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
